#container {
  position: relative;
  height: calc(100vh - 30px);
  overflow: auto;
}

#titlebar {
  font-family: Segoe WPC, Segoe UI, sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 30px;
  position: relative;
  user-select: none;
  display: flex;
  line-height: 30px;
  justify-content: left;
  align-items: center;
  flex-shrink: 0;
  overflow: visible;

  &:not(.maximized) {
    #controls #restore {
      display: none;
    }
  }

  &.maximized {
    #controls #maximize {
      display: none;
    }
  }

  &.hide-menu.darwin {
    #menubar {
      display: none;
    }
  }

  /* Drag disabled */
  &.nodrag {
    #dragregion,
    #appicon {
      -webkit-app-region: no-drag;
    }
  }

  /* Inactive window */
  &.inactive {
    #title,
    #menubar .button:not(:hover) .title,
    #menubar .button:not(:hover) .accelerator {
      opacity: 0.5;
    }

    #dragregion {
      background: rgba(255, 255, 255, 0.17);
    }
  }

  /* Dark skin */
  &.dark {
    color: rgb(255, 255, 255);

    #menubar .button {
      &:hover,
      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .submenu {
        background-color: #252526;

        .button.separator {
          background-color: #fff;
        }
      }
    }

    .button svg > * {
      fill: rgb(255, 255, 255);
    }
  }

  /* Windows style */
  &.win {
    &.inactive {
      .button:not(:hover) svg {
        opacity: 0.5;
      }
    }

    &:not(.dark) {
      #close:hover svg > * {
        fill: rgb(255, 255, 255);
      }
    }

    &.dark #controls .button {
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
      }

      &:active {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
    }

    #controls .button {
      width: 46px;

      &:hover {
        background-color: hsla(0, 0%, 0%, 0.1);
      }

      &#close:hover {
        background-color: rgba(232, 17, 35, 0.9);
      }

      &:active {
        background-color: hsla(0, 0%, 0%, 0.2);
      }

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  /* macOS style */
  &.darwin {
    &.inactive {
      #controls:not(:hover) .button::before {
        background: #000 !important;
        opacity: 0.12;
      }

      &.dark {
        #controls:not(:hover) .button::before {
          background: #fff !important;
        }
      }
    }

    #controls {
      order: -1;
      flex-direction: row-reverse;

      &:not(:hover) {
        .button svg {
          display: none;
        }
      }

      .button {
        width: 26px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          top: 7px;
          left: 5px;
          border-radius: 10px;
        }

        &:active::before {
          filter: brightness(80%);
        }

        &#minimize::before {
          background: #fdbc40;
        }

        &#maximize,
        &#restore {
          order: -1;

          &::before {
            background: #33c748;
          }
        }

        &#close::before {
          background: #fc5753;
        }

        &.disabled::before {
          background: #dfdedf;
        }

        svg {
          width: 14px;
          height: 14px;
          margin: 8px 0px;
          opacity: 0.5;

          & > * {
            fill: rgb(0, 0, 0);
          }
        }
      }
    }
  }

  #dragregion {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }

  #appicon {
    display: none;
    width: 35px;
    height: 100%;
    position: relative;
    z-index: 3000;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    -webkit-app-region: drag;
  }

  #menubar {
    height: 100%;
    display: flex;
    flex-shrink: 1;
    flex-wrap: nowrap;
    z-index: 2500;

    .button {
      display: flex;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      padding: 0 8px;
      cursor: default;
      -webkit-app-region: no-drag;
      zoom: 1;
      white-space: nowrap;
      outline: 0;

      &:hover,
      &.active {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .arrow,
      .check,
      .accelerator,
      &.separator {
        display: none;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      .icon {
        position: absolute;
        left: 6px;
        object-fit: contain;
        height: 16px;
        width: 16px;
        pointer-events: none;
      }

      .submenu {
        position: absolute;
        bottom: 0px;
        transform: translateY(100%);
        left: 0;
        opacity: 1;
        z-index: 2000;
        background-color: #dadada;
        padding: 8px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        max-height: calc(100vh - 30px);
        box-sizing: border-box;

        .button {
          &:not(.separator) {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            position: relative;
            padding: 0px 28px;
            margin: 1px 0px;
            height: 23px;
            line-height: 23px;
          }

          &.separator {
            display: block;
            margin: 8px 10px;
            height: 1px;
            background-color: #000;
            pointer-events: none;
            opacity: 0.3;
          }

          .accelerator,
          .title {
            display: inline-block;
          }

          .title {
            padding-right: 36px;
            margin-right: auto;
          }

          .arrow {
            position: absolute;
            display: block;
            right: 8px;
          }

          .check {
            position: absolute;
            display: block;
            left: 8px;
          }
        }

        .submenu {
          left: unset;
          right: 0px;
          transform: translateX(100%);
          top: -9px;
          bottom: auto;
        }
      }
    }
  }

  #title {
    flex: 0 1 auto;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

    &.left {
      margin-left: 8px;
    }

    &.right {
      margin-right: 8px;
    }
  }

  #controls {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    z-index: 3000;
    -webkit-app-region: no-drag;
    height: 100%;

    &.hidden {
      visibility: hidden;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      line-height: 30px;
      height: 100%;
    }
  }

  .button {
    svg {
      margin: 10px 0px;

      & > * {
        fill: rgb(0, 0, 0);
      }
    }
  }
}
