#container {
  position: relative;
  height: calc(100% - 30px);
  overflow: auto;
}

#titlebar {
  font-family: Segoe WPC, Segoe UI, sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 30px;
  position: relative;
  user-select: none;
  display: flex;
  line-height: 30px;
  justify-content: left;
  align-items: center;
  flex-shrink: 0;
  overflow: visible;

  &:not(.maximized) {
    #controls #restore {
      display: none;
    }
  }

  &.maximized {
    #controls #maximize {
      display: none;
    }
  }

  &.nodrag {
    #dragregion,
    #appicon {
      -webkit-app-region: no-drag;
    }
  }

  &.inactive {
    #title,
    #menubar .button:not(:hover) .title,
    #menubar .button:not(:hover) .accelerator {
      opacity: 0.5;
    }

    .button:not(:hover) svg > * {
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  &:not(.dark) {
    #close:hover svg > * {
      fill: rgb(255, 255, 255);
    }
  }

  &.dark {
    color: rgb(204, 204, 204);

    &.inactive {
      .button:not(:hover) svg > * {
        fill: rgba(204, 204, 204, 0.5);
      }
    }

    #menubar .button {
      &:hover,
      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .submenu {
        background-color: #252526;

        .button.separator {
          background-color: #fff;
        }
      }
    }

    #controls .button {
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
      }

      &:active {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
    }

    .button svg > * {
      fill: rgb(204, 204, 204);
    }
  }

  #dragregion {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }

  #appicon {
    display: none;
    width: 35px;
    height: 100%;
    position: relative;
    z-index: 3000;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    -webkit-app-region: drag;
  }

  #menubar {
    height: 30px;
    display: flex;
    flex-shrink: 1;
    height: 30px;
    flex-wrap: nowrap;
    z-index: 2500;

    .button {
      position: relative;
      align-items: center;
      box-sizing: border-box;
      padding: 0 8px;
      cursor: default;
      -webkit-app-region: no-drag;
      zoom: 1;
      white-space: nowrap;
      outline: 0;

      &:hover,
      &.active {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .arrow,
      .accelerator,
      &.separator {
        display: none;
      }

      .submenu {
        position: absolute;
        top:30px;
        left: 0;
        opacity: 1;
        z-index: 2000;
        background-color: #dadada;
        padding: 8px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

        .button {
          &:not(.separator) {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            position: relative;
            padding: 0px 28px;
            margin: 1px 0px;
            height: 23px;
            line-height: 23px;
          }

          &.separator {
            display: block;
            margin: 8px 10px;
            height: 1px;
            background-color: #000;
            pointer-events: none;
            opacity: 0.3;
          }

          .accelerator,
          .title {
            display: inline-block;
          }

          .title {
            padding-right: 36px;
            margin-right: auto;
          }

          .arrow {
            position: absolute;
            display: block;
            right: 8px;
          }
        }

        .submenu {
          left: unset;
          right: 0px;
          transform: translateX(100%);
          top: -9px;
        }
      }
    }
  }

  #title {
    flex: 0 1 auto;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

    &.left {
      margin-left: 8px;
    }

    &.right {
      margin-right: 8px;
    }
  }

  #controls {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    z-index: 3000;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 138px;

    .button {
      display: inline-block;
      line-height: 30px;
      width: 46px;
      height: 100%;

      &:hover {
        background-color: hsla(0, 0%, 0%, 0.1);
      }

      &#close:hover {
        background-color: rgba(232, 17, 35, 0.9);
      }

      &:active {
        background-color: hsla(0, 0%, 0%, 0.2);
      }

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  .button {
    svg {
      margin: 10px 0px;

      & > * {
        fill: rgb(0, 0, 0);
      }
    }
  }
}
